<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробная информация о рекуператоре</title>
</head>
<body>
<br>
<br>

<p>
    <header3> Общая информация о  рекуператоре: </header3>
</p>
<br>
<br>
<p th:text="'Name of the rekuperator:  '+ ${rekuperator.getName()}">VALUE</p>
<br>
<br>

<!--<a th:href="/rekuperator/show" th:text="recuperator page">рекуператор</a>-->
<br>

<div th:each="room : ${rooms}">
    <a th:href="@{/room/{id}(id=${room.getId()})}" th:text="${room.getName()}">комната</a>
</div>








</body>
</html>